@media(max-width: 750px){
    .pokedevs{
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
    }

    .cartao-pokedev{
        max-width: 300px;
    }

    .cartao-pokedev .cartao-informacoes{
        padding: 60px 30px 30px;
        margin-top: -50px;
    }

    .cartao-pokedev .cartao-informacoes h3{
        font-size: 16px;
    }

    .listagem{
        max-width: 360px;
    }

    .listagem .pokedev{
        width: 45%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;
        border-radius: 8px;
    }

    #video{
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;
        border-radius: 8px;
    }

    .listagem ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
    }
}

@media(max-width: 550px){
    #audio-icon{
        width: 70px; /* Ajuste a largura desejada */
        height: 70px; /* Ajuste a altura desejada */
        position: relative;
        left: 20px;
    }
}

@media(max-width: 470px){
    #audio-icon{
        width: 50px; /* Ajuste a largura desejada */
        height: 50px; /* Ajuste a altura desejada */
        position: relative;
        left: 20px;
    }
}

@media(max-width: 410px){
    #audio-icon{
        width: 38px; /* Ajuste a largura desejada */
        height: 35px; /* Ajuste a altura desejada */
        position: absolute;
        left: 1px;
    }
}

